body {
  background-color: black;
}

.output-container {
  color: white;
}

.output-data-container {
  height: 100%;
  overflow-y: scroll;
}

.textarea-container {
  height: 100%;
}

.display-title {
  color: white;
}